(
  contributors: {},
  references: {},
  changes: {
    "Added": [
      (text: "a Contributor type and the CHANGELOG\'s contributor registry", commit: Some("edbe223")),
    ],
    "Changed": [
      (text: "the CHANGELOG data-model types are #[non_exhaustive]", commit: Some("9bec99c")),
    ],
  },
)
